

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

table{
  
  border-collapse: collapse
}

td {
  width: 25px;
  height: 25px;
  border: 1px solid black
}

.walkable {
  background: lightgrey
}

.nonwalkable{
  background: lightpink
}

.reachable{
  background: yellow
}

tr {
  height: 25px;
}

button{
  font-size: 23px;
  border: none;
  width: 25px;
  height: 25px;
  background: transparent;
}

.quare{
  color: red;
  background: burlywood

}

.status {
  margin-bottom: 10px;
}

button :focus {
  outline: none;
}



.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}